.arrow-color {
  fill: #fff;
}

.up-arrow {
  width: 8vw;
  position: relative;
  top: -3vh;
  animation: move-up-down 1s infinite alternate;
}

@keyframes move-up-down {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}
