.mission-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info-container {
  width: 57vw;
  height: 34vh;
  padding-right: 2em;
  padding-left: 2em;
  border-radius: 3em;
  font-size: 6.7vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1b1464;
  color: white;
  font-weight: 500;
  position: absolute;
  top: 12vh;
  padding-bottom: 0.5em;
  z-index: 1;
}

.info-container-hidden {
  visibility: hidden;
  /* display: none; */
}

.info-container-showed {
  visibility: visible;
  /* display: block; */
}

.understand-btn {
  color: white;
  min-width: 47vw;
  min-height: 4vh;
  padding: 0.2em;
  font-family: text-font;
  font-weight: 900;
  border: solid white 1.2vw;
  font-size: 7vw;
  background-color: rgba(255, 255, 255, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 3vh;
}

.info-container-wrapper {
  width: 100vw;
  height: 100vh;
  background-color: rgb(255 255 255 / 79%);
  position: absolute;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.answer-container {
  width: 60vw;
  min-height: 45vh;
  border: solid #1b1464 1vw;
  border-radius: 3em;
  font-size: 6.7vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-right: 1em;
  padding-left: 1em;
  color: #1b1464;
  font-weight: 900;
  position: relative;
  top: -4vh;
  height: fit-content;
  padding-top: 1em;
}

.number-input {
  width: 14vw;
  /* width: fit-content; */
  height: 3vh;
  font-size: 6vw;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  border-bottom: solid #1b1464 0.2em;
  position: relative;
  top: -10vh;
  text-align: center;
}

.correct {
  background-color: #64cc48b3;
}

.wrong {
  background-color: #eb5258bd;
}

.feedback-text {
  position: absolute;
  top: 48vh;
  font-family: bold-text;
  font-size: 8vw;
}

.feedback-text-correct {
  color: #4eb233;
}

.feedback-text-wrong {
  color: #eb5258bd;
}
