.mission5-intro-instruction-paragrapgh {
  top: -26vh;
}
.btn-arrow-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 73vh;
}

.move-to-palmach-website-btn {
  font-family: bold-text;
  position: relative;
  top: -8vh;
  border: none;
  font-size: 8vw;
}

.dont-forget-paragrapgh {
  position: absolute;
  top: 8vh;
  color: #b3faa0;
}
