.mission4-container {
  /* top: -20vh; */
  color: white;
}

.mission4-instruction-paragrapgh {
  font-size: 8vw;
  top: -18vh;
  margin-top: 11vh;
}

.mission4-question-paragrapgh {
  position: absolute;
  top: 26vh;
  /* top: 10vh; */
  font-size: 7vw;
  margin-top: 9vh;
}

.phone-number-text {
  font-size: 17vw;
}

.phone-number {
  top: -19vh;
}

.phone-number-for-question {
  position: absolute;
  top: 16vh;
  /* top: -27vh; */
  border: solid white 2px;
  border-radius: 1em;
  margin-top: 3vh;
  margin-bottom: 7vh;
}

.continue-btn-mission4 {
  top: 63vh;
}

.input-mission4 {
  width: 63;
  position: absolute;
  top: 53vh;
  /* position: relative;
  top: -14vh; */

  color: #1b1464;
  height: fit-content;
  word-wrap: break-word;
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1em;
  font-size: 6.5vw;
  margin-top: 3vh;
}

.input-mission4::placeholder {
  font-size: 7vw;
}

.check-btn-mission4 {
  position: absolute;
  top: 67vh;
  border: solid white;
  color: white;
  margin-top: 17vh;
}

.answer-paragrapgh-mission-4 {
  width: 82vw;
  color: #b3faa0;
  font-size: 5.5vw;
  top: 63vh;  
  margin-top: 5vh;
  top: 66vh;
}
