.check-btn {
  position: absolute;
  top: 56vh;
  padding: 0.6em;
  height: 6vh;
}

.check-btn-mission3 {
  position: absolute;
  top: 65vh;
  border: solid white 1.2vw;
  color: white;
  padding: 0.6em;
  height: 6vh;
}
