.questions-container-mission5 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 70vh;
  position: absolute;
  top: 18vh;
}

.question-container-mission5 {
  margin-top: 2vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 18vh;
}

.mission5-instruction-paragrapgh {
  margin-bottom: 1vh;
  font-size: 7vw;
}

.input-mission5 {
  color: white;
}

.input-mission5::-webkit-input-placeholder {
  font-size: 6vw;
  color: rgba(250, 247, 247, 0.728);
}
.input-mission5::-moz-placeholder {
  font-size: 6vw;
  color: rgba(250, 247, 247, 0.728);
}
.input-mission5:-ms-input-placeholder {
  font-size: 6vw;
  color: rgba(250, 247, 247, 0.728);
}
.input-mission5::placeholder {
  font-size: 7vw;
  color: rgba(250, 247, 247, 0.728);
}

.check-btn-mission5 {
  top: 74vh;
}

.answer-paragrapgh-mission-5 {
  position: relative;
  top: -8vh;
  visibility: hidden;
}

.visible {
  visibility: visible;
}
