.about-title {
  font-family: title;
  color: whitesmoke;
  font-size: 23vw;
  border: none;
  margin-bottom: 3vh;
}

.about-paragtapgh {
  font-size: 9vw;
  color: white;
  font-family: bold-text;
  margin-bottom: -2.7vh;
}

.paragrapghs-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 60vh;
  position: relative;
  top: -4vh;
  margin-top: 3vh;
}
