.bubble-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #1b1464;
  height: 80vh;
}

.next-btn {
  /* background-image: url("."); */
  /* width: 13vw;
  height: 7vh;
  background-size: 100% 100%;
  position: relative;
  right: 34vw;
  top: 3vh; */
  width: 13vw;
  height: 7vh;
  background-size: 100% 100%;
  /* transform: scaleX(-1); */
  position: absolute;
  right: 78vw;
  bottom: 7vh;
}

.character-gif {
  width: 25vw;
  position: relative;
  top: -2vh;
}

.text {
  font-family: text-font;
}

.intro-text {
  font-size: 3vw;
  width: 65vw;
  font-weight: 500;
  position: relative;
  top: -6vh;
}

.mission-title {
  position: absolute;
  font-family: bold-text;
  font-weight: 900;
  font-size: 6vw;
  /* width: 97%; */
  top: 0vh;
  margin-bottom: 5vh;
  margin-top: 2vh;
  border-top: solid 4px;
  /* color: #1b1464; */
}

.blinking-cursor::after {
  content: "|";
  animation: blink 1s step-start infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

@media only screen and (max-width: 768px) {
  /* .bubble-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #1b1464;
  } */

  .next-btn {
    /* background-image: url("."); */
    /* width: 13vw;
  height: 7vh;
  background-size: 100% 100%;
  position: relative;
  right: 34vw;
  top: 3vh; */
    width: 13vw;
    height: 7vh;
    background-size: 100% 100%;
    /* transform: scaleX(-1); */
    position: absolute;
    right: 78vw;
    bottom: 7vh;
  }

  .mission-title {
    position: absolute;
    font-family: bold-text;
    font-weight: 900;
    font-size: 12vw;
    /* width: 97%; */
    top: 0vh;
    margin-bottom: 5vh;
    margin-top: 2vh;
    border-top: solid 4px;
    /* color: #1b1464; */
  }

  .start-mission-btn {
    margin: 0;
    position: relative;
    top: -5vh;
    right: -16vw;
    /* right: 30vw; */
  }

  .back-to-explenation-btn {
    position: relative;
    right: -16vw;
    top: -3vh;
  }

  .character-gif {
    width: 66%;
    /* position: relative;
    top: 1vh; */
    position: absolute;
    top: 11vh;
  }

  .intro-text {
    font-size: 8vw;
    width: 80%;
    font-weight: 500;
    position: absolute;
    top: 42vh;
    margin-top: 14vh;
  }
}

/*
html {
  line-height: 1.5;
  font-weight: 300;
  color: #192229;
  background: linear-gradient(135deg, #f4f2f3, #bfc6d0);
}

body {
  padding: 0 2rem;
} */
