.bubble-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.next-btn {
  /* background-image: url("."); */
  /* width: 13vw;
  height: 7vh;
  background-size: 100% 100%;
  position: relative;
  right: 34vw;
  top: 3vh; */
  width: 13vw;
  height: 7vh;
  background-size: 100% 100%;
  /* transform: scaleX(-1); */
  position: absolute;
  right: 78vw;
  bottom: 7vh;
}

.mission-title {
  position: absolute;
  font-family: text-font-bold;
  font-weight: 900;
  font-size: 12vw;
  /* width: 97%; */
  top: 0vh;
  margin-bottom: 5vh;
  margin-top: 2vh;
  color: #1b1464;
}

.start-mission-btn {
  margin: 0;
  position: relative;
  top: -5vh;
  right: -16vw;
  /* right: 30vw; */
}

.back-to-explenation-btn {
  position: relative;
  right: -16vw;
  top: -3vh;
}

.character-gif {
  width: 54%;
  position: relative;
  top: 2vh;
}

.text {
  font-family: text-font;
}

.intro-text {
  font-size: 9vw;
  width: 80%;
  font-weight: 500;
  position: relative;
  top: 2vh;
}

/*
html {
  line-height: 1.5;
  font-weight: 300;
  color: #192229;
  background: linear-gradient(135deg, #f4f2f3, #bfc6d0);
}

body {
  padding: 0 2rem;
} */
