.end-text {
  color: white;
}

.end-container {
  position: relative;
  top: -8vh;
}

.end-text {
  font-family: text-font;
  font-weight: 700;
  position: relative;
  margin-top: 10vh;
  top: -11vh;
}

.to-about-page-btn {
  top: 66vh;
  margin-top: 17vh;
}

.end-gif {
  position: relative;
  top: 1vh;
  margin-top: 14vh;
}
