.nextBtn-color {
  fill: #1b1464;
}

.light-btn {
  fill: white;
}

.fade-animation {
  animation: show 3s ease;
}

.next-btn {
  cursor: pointer;
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* .next-btn {
  position: absolute;
  width: 18vw;
  transform: scaleX(-1);
} */
