/* @font-face {
  font-family: title;
  src: url(./../../fonts/benchmark-regular-fm.otf);
}

@font-face {
  font-family: text-font;
  src: url(./../../fonts/FbSpoiler-Regular.otf);
} */

.titles-container {
  display: flex;
  flex-direction: column;
  margin-top: -5vh;
  height: 30vh;
}

.opening-titles {
  font-family: title;
  color: #d3e6f7;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  /* border: solid #0695ed; */
}

.opening-title1 {
  font-size: 12vw;
  margin-top: 11vh;
}

.opening-title2 {
  font-size: 7vw;
  margin-top: -4vh;
}

.start-lomda-btn {
  margin-bottom: 20vh;
}

.btns {
  width: 40vw;
  height: 6vh;
  border-radius: 3em;
  font-size: 3vw;
  cursor: pointer;
}

.start-lomda-btn {
  min-width: 22vw;
  min-height: 6vh;
  padding: 0.6em;
  margin-top: 10vh;
  font-family: text-font;
  font-weight: 900;
  border: solid #1b1464 0.5vw;
  color: #1b1464;
  font-size: 3vw;
  background-color: rgba(255, 255, 255, 0);
  position: relative;
  top: 2vh;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 768px) {
  .titles-container {
    display: flex;
    flex-direction: column;
    margin-top: 13vh;
    height: 30vh;
  }

  .opening-titles {
    font-family: title;
  }

  .opening-title1 {
    font-size: 21vw;
    margin-top: 11vh;
    /* margin-top: 5vh; */
  }

  .opening-title2 {
    font-size: 15vw;
    margin-top: -4vh;
  }

  .btns {
    width: 40vw;
    height: 6vh;
    border-radius: 3em;
    font-size: 8vw;
    cursor: pointer;
  }

  .start-lomda-btn {
    min-width: 53vw;
    min-height: 4vh;
    padding: 0.2em;
    margin-bottom: 20vh;
    font-family: text-font;
    font-weight: 900;
    border: solid #1b1464 1.2vw;
    color: #1b1464;
    font-size: 7vw;
    background-color: rgba(255, 255, 255, 0);
    position: relative;
    top: -4vh;
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
